:root {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}

/* Skeleton css */
@keyframes wave {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.animate-pulse {
  animation: wave 1.5s infinite linear;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
}

/*  Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
